<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.error404.pumpkinplace.mappers.BoardMapper">

	<!--  board 테이블 sql 쿼리문 작성  -->

<!-- Section No를 이용해 Board의 종류를 가려낸 후 
게시판 첫 화면에서 요구하는 데이터들을 뽑아내는 SQL -->
<select id = "selectBoardInfoBySectionNo" resultType = "Board">
select ${col_b_no}, ${col_b_title}, ${col_b_content}, ${col_b_id}, 
${col_b_regdate}, ${col_b_readcnt}
from ${tbl_board}
where ${col_b_section} = #{b_section} 

</select>
</mapper>