<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.error404.pumpkinplace.mappers.BoardMapper">

	<!-- board 테이블 sql 쿼리문 작성 -->

	<!-- Insert Statement -->
	<insert id="insert" parameterType="java.util.Map">
		insert into ${tbl_board} (${col_b_section},
		${col_b_title}, ${col_b_content},
		${col_b_id})
		values
		(#{b_section, jdbcType=INTEGER}, #{b_title, jdbcType=VARCHAR}, #{b_content, jdbcType=CLOB}, 
		#{b_id, jdbcType=VARCHAR})
	</insert>

	<!-- Section No를 이용해 Board의 종류를 가려낸 후 게시판 첫 화면에서 요구하는 
	데이터들을 뽑아내는 Select Statement -->
	<select id="selectBySectionNo" resultType="Board">
		select
		${col_b_no}, ${col_b_title}, ${col_b_content}, ${col_b_id},
		${col_b_regdate}, ${col_b_readcnt}
		from ${tbl_board}
		where
		${col_b_section} = #{b_section}
	</select>

	<select id="totalCount" resultType="Integer">
		select count(${col_b_no})
		from ${tbl_board}
	</select>

	<select id="listPage" resultType="Board">
		select b.bno, b.title,
		b.content, b.userid, b.regdate, b.readcnt
		from (
		select rownum rn, a.*
		from (
		select * from test_board
		order by bno desc
		) a
		) b
		where rn between
		#{start} and #{end}
	</select>

	<update id="update">
		update ${tbl_board}
		set ${col_b_title} = #{b_title}, ${col_b_content} = #{b_content},
		${col_b_regdate} = sysdate
		where ${col_b_bno} = #{b_no}
	</update>

	<delete id="delete">
		delete from ${tbl_board} where ${col_b_no} = #{b_no}
	</delete>
	
</mapper>