<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.error404.pumpkinplace.mappers.MessageMapper">

	<!--  message 테이블 sql 쿼리문 작성  -->
	
	
	<insert id="insertMessage">
		insert into ${tbl_message} (${col_mem_id}, ${col_mem_id2}, ${col_msg_content}) 
		values (#{mem_id}, #{mem_id2}, #{msg_content})
	</insert>
	
	
	<select id="send" resultType="Message">
		select * from ${tbl_message} where ${col_mem_id} = #{mem_id} order by ${col_msg_no} desc 
	</select>
	
	
	<select id="recieve" resultType="Message">
		select * from ${tbl_message} where ${col_mem_id2} = #{mem_id2} order by ${col_msg_no} desc 
	</select>
	
	
	
 	<select id="selectById" resultType="Message">
 		select * from ${tbl_message} where ${col_mem_id} = #{mem_id}
 	</select>

 	<select id="selectById2" resultType="Message">
 		select * from ${tbl_message} where ${col_mem_id2} = #{mem_id2}
 	</select>
 	 	
 	<select id="selectByMsgNo" resultType="Message">
 		select * from ${tbl_message} where ${col_msg_no} = #{msg_no}
 	</select>
 	

	<update id="update">
		update ${tbl_message} set ${col_msg_content} = #{msg_content} 
		where ${col_msg_no} = #{msg_no}
	</update>



	 <delete id="delete">
	 	delete ${tbl_message} where ${col_msg_no} = #{msg_no}
	 </delete>
	 
	 
	 <select id="totalCount" resultType="Integer">
		select count(${col_mem_id}) from ${tbl_message}
	</select>
	
	<select id="totalCount2" resultType="Integer">
		select count(${col_mem_id2}) from ${tbl_message}
	</select>
	
	<select id="sendPage" resultType="Message">
		select b.msg_no, b.mem_id, b.msg_content, b.msg_regdate, b.msg_confirm
		from (
			select rownum rn, a.*
			from (
				select * from pumpkin_message
				order by msg_no desc
			) a
		) b
		where rn between #{start} and #{end}
	</select>
	
	<select id="recievePage" resultType="Message">
		select b.msg_no, b.mem_id2, b.msg_content, b.msg_regdate, b.msg_confirm
		from (
			select rownum rn, a.*
			from (
				select * from pumpkin_message
				order by msg_no desc
			) a
		) b
		where rn between #{start} and #{end}
	</select>
		 
</mapper>