<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.error404.pumpkinplace.mappers.ShowBoardMapper">

	<!--  showboard 테이블 sql 쿼리문 작성  -->
	
	<select id="selectAll" resultType="ShowBoard">
		select * from ${tbl_show_board} order by ${col_sb_no} desc
	</select>
	
	<insert id="createShowBoard">
		
	</insert>
	
	<select id="selectBySb_No" resultType="ShowBoard">
		select * from ${tbl_show_board} where ${col_sb_no} = #{col_sb_no}
	</select>
</mapper>